html{

}

body{
	
}

.page-header h1{
	font-size: 70px; 
	letter-spacing: 10px; 
	color: #4D4D4F;
	font-family: 'Open Sans Condensed';
}

.topbar li{
	margin-right: 30px;
}

.navbar-nav li a:hover{
	background-color: #DFE1E8;
}

.navbar-nav li a{
	color: black;
}

.subheader{
	text-align: center;
	font-size: 35px;
	color: #818284;
	font-family: 'Open Sans Condensed';
}
.subheader span{
	display: inline-block;
	position: relative;
}

.subheader span:before, .subheader span:after{
	content: "";
	position: absolute;
	height: 5px;
	background-color: #7400E1;
	/*border-bottom: 1px solid black;
	border-top: 1px solid black;*/
	top: 0.6em;
	width: 100px;
}

.subheader span:before{
	right: 100%;
	margin-right: 2.5em;
}

.subheader span:after{
	left: 100%;
	margin-left: 2.5em;
}